<nav id="fh5co-menu-wrap" role="navigation">
    <ul class="sf-menu" id="fh5co-primary-menu">
        
        <li>
            <a href="hotel.html" class="fh5co-sub-ddown">Hi,{{request.user}}</a>
            <ul class="fh5co-sub-menu">
                 <li><a href="{% url 'profile' %}">My profile</a></li>
                
         
                
            </ul>
        </li>
        <li><a href="{% url "booking"  %}">My bookings</a></li>
        <li>
            <a href="{% url "logout" %}" class="fh5co-sub-ddown">Log Out</a>
            
        </li>
                                
        
    </ul>
</nav>